<template>
  <div class="wrapper">



    <SomeIcon />


    <div ref="ppl" class="ppl"></div>
    <div ref="pong" class="pong">PONG!</div>
  </div>
</template>

<script>
  import { TimelineLite, Back } from 'gsap'
  import SomeIcon from '../assets/icon/error-404-unicorn_120.svg';

  export default {
    components: {
      SomeIcon
    },
    mounted() {
      const { ppl, pong } = this.$refs;
      const timeline = new TimelineLite();

      timeline.to(ppl, 1, {
        x: 200,
        ease: Back.easeInOut,
      });

      timeline.to(pong, 0.1, {
        height: 60,
        width: 60,
          opacity: 1
      });

      timeline.to(ppl, 0.2, {
          background: 'green'
      }, '+=0.1');

      timeline.to(pong, 0.1, {
          height: 60,
          width: 60,
          opacity: 0
      }, '+=0.1');

      timeline.to(ppl, 1, {
          x: 0,
          ease: Back.easeInOut,
      });
    }
  }
</script>

<style>
    .ppl {
        height: 60px;
        width: 60px;
        background: blue;
        border-radius: 30px;
    }

    .pong {
        position: absolute;
        top: 30px;
        left: 230px;
        opacity: 0;
        height: 0;
        width: 0;
        background: red;
        border-radius: 30px;
        padding: 15px;
        box-sizing: border-box;
    }
</style>
